body{
  font-family: arial;
}


ul{
  list-style-type: none;
}

li{

}

a, a:visited{
  text-decoration: none;
  color: #4a4a4a;
}

nav{
  height: 150px;
}

.menu{
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 25px;
}

.menu li{
  display: inline-block;
  padding: 0 10px;
}

.menu li a:hover{
  text-decoration: underline;
}

#circle p{
  background-color: #a1f42e;
  border-radius: 50px;
  padding: 10px 12.5px;
  color: white;
}

.logo-container{

}

.logo{
  margin-top: 5%;
}

.search-container{
  padding-bottom: 20px;
}

.search-bar{
  width: 35%;
  height: 40px;
  border-radius: 0;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: 2px 6px 23px -10px rgba(74,74,74,1);
  -moz-box-shadow: 2px 6px 23px -10px rgba(74,74,74,1);
  box-shadow: 2px 6px 23px -10px rgba(74,74,74,1);
}

.button{
  border-radius: 0;
  padding: 10px 10px;
  border: none;
  background-color: #e3e3e3;
}

.button:hover{
  border: 1px solid #aaa;
  color: black;
  background-color: #e3e3e3;
}
